@import "@openfonts/rubik_all/index.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Rubik !important;
  font-weight: 600;
  color: white;
  /* border: 1px black solid; */
}

body {
  background: #000000;
  margin: 0;
  font-size: x-large;
  min-height: 100vh;
  overflow-x: hidden;
  line-height: normal;
}
